# IDE configs
/.idea
# github workflows
/.github
# temp data folder
/data
.dockerignore
.gitignore
build_size.log
Dockerfile
README.md
Makefile
*.sqlite
# config for air
.air.toml
# temporary folder for air
/tmp
example.config.json