<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="48x48">
    <link rel="icon" href="/public/favicon.svg" sizes="any" type="image/svg+xml">
    <script src="/public/htmx.min.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/login.css">
</head>
<body>
<main>
    <form class="login-form card" action="/login" method="post">
        <h1>Login</h1>

        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>
</main>
</body>
</html>
