{{define "content"}}
	<article class="login-layout">
		<div class="card login-card">
			<h1 style="text-align: center">Password reset successfully!</h1>

			<a href="/login">Go to login page</a>
		</div>
	</article>
{{end}}
