{{define "head"}}
	<link rel="stylesheet" href="/public/login.css">
{{end}}
{{define "content"}}
	<div class="login-form card">
		<h1>Password reset successfully!</h1>

		<a href="/login">Go to login page</a>
	</div>
{{end}}