:root {
	--background: #121212;
	--foreground: #fff;
	--border: color-mix(in srgb, var(--foreground) 10%, var(--background));
	--elevation-1: color-mix(in srgb, var(--foreground) 5%, var(--background));
	--spacing: 16px;
	--primary: #9A9A7A;
	--input-background: #36343b;
}

body {
	font-family: system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

body {
	background-color: #121212;
	color: #fff;
}

.card {
	border-radius: var(--spacing);
	border: 1px solid var(--border);
	padding: var(--spacing);
	background: var(--elevation-1);
}

nav {
	ul {
		display: flex;
		list-style: none;
		gap: var(--spacing);
		padding-left: 0;
	}
}

a {
	color: lightskyblue;
	text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);

	&:hover {
		text-decoration-color: currentColor;
	}
}
