:root {
	--background: #121212;
	--foreground: #fff;
	--borderColor: color-mix(in srgb, var(--foreground) 10%, var(--background));
	--border: 1px solid var(--borderColor);
	--elevation-1: color-mix(in srgb, var(--foreground) 5%, var(--background));
	--spacing: 1rem;
	--primary: #9A9A7A;
	--input-background: #36343b;
	--error: #f57069;
	--black-to-primary-filter: invert(65%) sepia(8%) saturate(905%) hue-rotate(21deg) brightness(93%) contrast(86%);
}

body {
	font-family: system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	background-color: var(--background);
	color: var(--foreground);
	padding-inline: var(--spacing);
}

.card {
	border-radius: var(--spacing);
	border: var(--border);
	padding: var(--spacing);
	background: var(--elevation-1);
}

nav {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing);

	ul {
		display: flex;
		list-style: none;
		gap: var(--spacing);
		padding-left: 0;
		margin-block: 0;

		padding-block: var(--spacing);
	}

	.profile-section {
		display: flex;
		gap: var(--spacing);
		align-items: center;
		padding-block: calc(var(--spacing) / 2);

		.avatar {
			user-select: none;
			height: calc(var(--spacing) * 2.5);
			width: calc(var(--spacing) * 2.5);
			border-radius: 50%;
			border: var(--borderColor);
			background: var(--primary);
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 500;
			display: flex;
			justify-content: center;
		}
	}
}

a {
	color: lightskyblue;
	text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);

	&:hover {
		text-decoration-color: currentColor;
	}
}

.hidden {
	display: none;
}

input[type="file"].primary-button::file-selector-button,
button.primary-button {
	background-color: var(--primary);
	padding: 0.5rem 0.75rem;
	border-radius: 99px;
	border: none;
	cursor: pointer;
	font-size: 0.875rem;

	transition: background-color 0.125s ease-in;

	&:hover {
		background-color: color-mix(in srgb, var(--foreground) 10%, var(--primary));
	}

	&:active {
		background-color: color-mix(in srgb, var(--foreground) 20%, var(--primary));
	}

	&.large {
		padding: 0.75rem 1rem;
		font-size: 1rem;
	}
}

button.secondary-button {
	background: none;
	color: var(--foreground);
	border: 1px solid var(--primary);
	padding: 0.5rem 0.75rem;
	border-radius: 99px;
	cursor: pointer;
	font-size: 0.875rem;

	transition: background-color 0.125s ease-in;

	&:hover {
		background-color: color-mix(in srgb, transparent, var(--primary) 20%);
	}

	&:active {
		background-color: color-mix(in srgb, transparent, var(--primary) 40%);
	}
}

button.small {
	padding: 0.25rem 0.5rem;
}

button.icon-button {
	background-color: transparent;
	padding: 0.25rem;
	border: none;
	cursor: pointer;
	border-radius: 99px;
	font-size: 0.875rem;

	transition: background-color 0.125s ease-in;

	&:hover {
		background-color: color-mix(in srgb, var(--foreground) 10%, transparent);
	}

	&:active {
		background-color: color-mix(in srgb, var(--foreground) 20%, transparent);
	}
}

.form-control {
	display: flex;
	flex-direction: column;
	width: 300px;

	label {
		font-size: 0.875rem;
		margin-bottom: 0.25rem;
	}

	.input-wrapper {
		display: flex;
		gap: 2px;
		align-items: stretch;

		border-radius: 8px;
		background-color: var(--input-background);
		transition: background-color 0.125s ease-in;
		width: 100%;
		overflow: hidden;

		&:hover {
			background-color: color-mix(in srgb, var(--primary) 8%, var(--input-background));
		}

		&:focus, &:focus-within {
			outline: 2px solid var(--primary);
		}

		input {
			padding: 9px 0.75rem;
			font-size: 1rem;

			flex-grow: 1;

			border: none;
			color: #fff;
			background: transparent;
			outline: none;
		}

		button {
			width: 40px;
			border-radius: 16px;
			padding-inline: 3px;
			cursor: pointer;
			background: none;
			border: none;
			display: flex;
			align-items: center;
			color: var(--primary);

			transition: background-color 0.125s ease-in;

			&:focus {
				background-color: color-mix(in srgb, transparent, var(--primary) 10%);
			}

			&:active {
				background-color: color-mix(in srgb, transparent, var(--primary) 20%);
			}
		}
	}
}
