<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{.PageTitle}}</title>
	<link rel="icon" href="/public/favicon.ico" sizes="48x48">
	<link rel="icon" href="/public/favicon.svg" sizes="any" type="image/svg+xml">
	<link rel="stylesheet" href="/public/reset.css">
	<link rel="stylesheet" href="/public/styles.css">
	<script src="/public/htmx2.0.4.min.js" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"></script>
    {{block "head".}}{{end}}
</head>
<body>
{{block "nav".}}{{end}}
<main>
    {{template "content".}}
</main>
</body>
</html>
