{{- /*gotype: go-api/pages/index.PageData*/ -}}
{{define "nav"}}
	<nav>
		<ul>
			<li><a href="/">Homepage</a></li>
			<li><a href="{{.VpsLoginLink}}">VPS login</a></li>
			{{if .IsAdmin}}
				<li><a href="/admin">Admin</a></li>
			{{end}}
		</ul>

		<div class="profile-section">
			{{if .UserInitial}}
				<div class="avatar" title="{{.Username}}">{{.UserInitial}}</div>
			{{end}}
			<a href="/logout">Log out</a>
		</div>
	</nav>
{{end}}
