{{define "nav"}}
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="{{.VpsLoginLink}}">VPS login link</a></li>
        </ul>

        <div class="profileSection">
            {{if .UserInitial}}
                <div class="avatar" title="{{.Username}}">{{.UserInitial}}</div>
            {{end}}
            <a href="/logout">Log out</a>
        </div>
    </nav>
{{end}}