{{define "nav"}}
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="{{.VpsLoginLink}}">VPS login link</a></li>
        </ul>

        <a href="/logout">Log out</a>
    </nav>
{{end}}